<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meet">

<!-- 채팅방 생성 -->
<insert id = "createRoom">
	INSERT INTO PR_CHATROOM (SEND_USER_ID , RECEIVER_USER_ID) 
	values(#{send_user_id}, #{receiver_user_id})
</insert>

<!--  채팅방 목록-->
<select id ="isRoom" resultType = "ChatRoomVO">
	SELECT * FROM PR_CHATROOM 
	WHERE SEND_USER_ID = #{send_user_id} and RECEIVER_USER_ID = #{receiver_user_id} 
</select>

<!-- 메세지 전송-->
<insert id = "insertMessage">
	INSERT INTO PR_MESSAGE (MESSAGE_SENDER , MESSAGE_RECEIVER, MESSAGE_CONTENT, MESSAGE_SENDTIME,
	CHATROOM_CHATROOM_ID, USER_user_id , RECEIVER_USER_ID)
	VALUES (#{message_sender}, #{message_receiver}, #{message_content},SYSDATE+9/24, #{chatroom_chatroom_id} , #{send_user_id}, #{receiver_user_id})
</insert>

<!-- 개인 채팅방 입장 -->
<select id = "getRoom" resultType = "MessageVO">
	SELECT USER_user_id from PR_MESSAGE 
	WHERE RECEIVER_USER_ID = #{receiver_user_id}
</select>
</mapper>