<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meet">

<!-- 채팅방 생성 -->
<insert id = "createRoom">
	INSERT INTO PR_CHATROOM (CHATROOM_ID, SEND_USER_ID , RECEIVER_USER_ID) 
	values(#{chatroom_id}, #{send_user_id}, #{receiver_user_id})
</insert>

<!-- 채팅시 채팅방 목록-->
<select id ="isRoom" resultType = "ChatRoomVO">
	SELECT * FROM PR_CHATROOM 
	WHERE chatroom_id LIKE '%'||#{send_user_id}||'%' AND chatroom_id LIKE '%'||#{receiver_user_id}||'%' 
	AND ((SEND_USER_ID = #{send_user_id} AND RECEIVER_USER_ID = #{receiver_user_id}) OR (SEND_USER_ID = #{receiver_user_id} AND RECEIVER_USER_ID = #{send_user_id}))
</select>

<!-- 메세지 전송-->
<insert id = "insertMessage">
	INSERT INTO PR_MESSAGE (CHATROOM_CHATROOM_ID, MESSAGE_SENDER , MESSAGE_RECEIVER, MESSAGE_CONTENT, MESSAGE_SENDTIME,
	 SEND_USER_ID , RECEIVER_USER_ID, SEND_USER_NAME, RECEIVER_USER_NAME)
	VALUES (#{chatroom_id},#{message_sender}, #{message_receiver}, #{message_content},SYSDATE+9/24, #{send_user_id}, #{receiver_user_id}, #{send_user_name}, #{receiver_user_name})
</insert>

<!-- 개인 채팅방 입장 -->
<select id = "getRoom" resultType = "MessageVO">
	SELECT * from PR_MESSAGE 
	WHERE chatroom_chatRoom_id = #{chatroom_id}
	ORDER BY MESSAGE_SENDTIME ASC
</select>

<!-- 채팅방 전체목록 -->
<select id ="listChatRoom" resultType ="ChatRoomVO">
	SELECT chatroom_id 
       ,send_user_id
       ,receiver_user_id
       ,(select message_content from pr_message where chatroom_chatroom_id = a.chatroom_id ORDER BY MESSAGE_SENDTIME DESC FETCH FIRST 1 ROW ONLY) AS lastMessage
       ,(select message_sendtime from pr_message where chatroom_chatroom_id = a.chatroom_id ORDER BY MESSAGE_SENDTIME DESC FETCH FIRST 1 ROW ONLY) AS lastTime
	   ,(select count(*) from pr_message where chatroom_chatroom_id=a.chatroom_id AND MESSAGE_READ ='1' AND MESSAGE_RECEIVER = #{userNick}) AS unReadCount
	FROM pr_chatroom a
	WHERE chatroom_id LIKE '%'||#{userNick}||'%' AND (SEND_USER_ID = #{userNick} OR RECEIVER_USER_ID = #{userNick})
	ORDER BY LASTTIME DESC
</select>
<update id = "readUpdate">
	update PR_MESSAGE SET MESSAGE_READ = 0
	WHERE CHATROOM_CHATROOM_ID = #{chatroom_id} AND MESSAGE_RECEIVER = #{message_receiver}
</update>

<!-- 다른 페이지에 있을 시 실시간 알림 -->
<select id = "alarm" resultType ="int">
	select count(*) as unReadCount
	from pr_message
	where message_receiver = #{userNick} AND MESSAGE_READ = 1
</select>	
</mapper>