<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="user">
	<!-- 회원 목록 -->
    <select id="listUser" resultType="UserVO">
        SELECT 
          EMAIL AS userEmail,
          IS_SEEK AS userIs_seek,
          NICK AS userNick,
          PW AS userPw,
          NAME AS userName,
          JOB AS userJob,
          JOB_DETAIL AS userJob_detail,
          RECENT_ACCESS AS userRecent_access,
          AUTHSTATUS AS userAuthStatus,
          USER_AUTHCODE AS userAuthCode
        FROM pr_user
        ORDER BY Nick
    </select>
    
    <!-- 회원 등록 -->
    <insert id="insertUser">
        INSERT INTO pr_user(EMAIL, IS_SEEK, NICK, PW, NAME, JOB, JOB_DETAIL)
        VALUES(#{userEmail}, #{userIs_seek}, #{userNick}, #{userPw}, #{userName}, #{userJob}, #{userJob_detail})    
    </insert>
    
    <!-- 로그인 체크 -->
    <select id="loginCheck" resultType="String">
        SELECT NAME AS userName FROM pr_user
        WHERE EMAIL = #{userEmail} AND PW = #{userPw}
    </select>
    
    <!-- 로그인정보  -->
    <select id="viewlogin" resultType="UserVO">
        SELECT 
            NAME AS userName,
            NICK AS userNick,
            EMAIL AS userEmail
        FROM pr_user
        WHERE EMAIL = #{userEmail} AND PW = #{userPw}
    </select>
 </mapper>