/* ÃÊ±âÈ­ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
/* ------------------------ resumeDetail ------------------------ */
.resumeDetail{
   background-color:#EFECEC;
}
.resumeDetail .container {
   display:flex;
   flex-direction:column;
   align-items: center;
}

.resumeDetail .container .head{
	display:flex;
	flex-direction:row;
	height: 300px;
	width:100%;
}

.resumeDetail .container .head header{
	flex-basis:980px;
	flex-shrink:0;
}

.resumeDetail .container .comment{
    flex-basis: 50px;
    flex-shrink: 0;
    text-align:center;
}

.resumeDetail .container .img{
   display:flex;
   flex-direction: column;
   flex-basis:0px;
   flex-shrink: 0;
   align-items : center;
   position:relative;
   bottom:195px;
}

.resumeDetail .container .img img{
   width: 250px;
   height:250px;
   border-radius: 175px;
}

.resumeDetail .container .content{
   background:rgba(255, 255, 255, 0.55);
   z-index: -1;
   display: flex;
   flex-direction:column;
   width:80%;
   margin-left:5%;
   margin-right:5%;
   padding-top:200px;
   
}

.resumeDetail .container .impormation{
   text-align: center;
   font-size:15pt;
   margin-top:20px;
}

.resumeDetail .tech-stack{
   margin:10px;
   background-color:white;
   height: 200px;
   width:700px;
}

.resumeDetail .subject{
   padding-bottom:20px;
   padding-top:60px;
   color:#02456F;
   font-weight: bold;
   border-bottom: solid 2px #B9B9B9;
   font-size:15pt;
   width:600px;
}


.resumeDetail .up{
	display:flex;
	flex-diretion:row;
	flex-wrap:wrap;
}

.resumeDetail .left{
	display:flex;
	flex-direction:column;
	margin-left:52px;
	margin-right:52px;
	width:650px;
	align-items:center;
}




.resumeDetail .right{
	display:flex;
	flex-direction:column;
	background-color:aqua;
	margin-left:52px;
	margin-right:52px;
	width:650px;
	align-items:center;
}

/*-----------------------------left-detail----------------------------*/
.resumeDetail .detail{
	width:600px;
}

.resumeDetail .state{
	display:flex;
   flex-direction:row;
   border-bottom:solid 1px white;
}

.resumeDetail .s_info{
	display:flex;
	padding-top:15px;
}

.resumeDetail .name{
   padding:15px;
   padding-left:20px;
   font-size:12pt;
   width:120px;
}

.resumeDetail .p_info{
   margin-top:10px;
}

.resumeDetail #pr_name{
   width:200px;
   height:30px;
}

.resumeDetail .birth_info{
   margin-top:10px;
   margin-left:10px;
}

.resumeDetail .birth_info>:nth-child(n){
   width:90px;
   height: 25px;
   font-size:12pt;
}


.resumeDetail .textshort{
   margin-top:8px;
   padding:10px;
   width:130px;
   height:10px;
}

.resumeDetail .textlong{
margin-top:8px;
	width:280px;
   height:25px;
}


.resumeDetail #p_name, #birth, #phone, #email, #blog, #address, #hopeaddress{
   display:flex;
   flex-direction: row;
   border-bottom:solid 1px white;
}

.resumeDetail #comment{
   display:flex;
   flex-direction: row;
}

.resumeDetail #comment .textlong{
   margin-top:15px;
}
.resumeDetail .detail{
   border-bottom: solid 2px #B9B9B9;
   width:480px;
}

/*---------------------------------------------*/






.resumeDetail footer{
   background:black;
   color:white;
   height:100px;
   text-align: center;
}
/*------------------------- resumeRegist --------------------------*/

.resumeRegist .container{
   background-color: #EFECEC;
   display:flex;
   flex-direction: column;
   align-items: center;
}

/*---------------header----------------*/
.resumeRegist .container header{
   display:flex;
   height:250px;
   border-bottom:solid 2px gray;
}

.resumeRegist .head{
   padding:50px;
   width:700px;
   padding-left:70px;
}

.resumeRegist .head .a{
   height:100px;
   font-size:40px;
   color:#02456F;
}

.resumeRegist .head .b{
   height:50px;
   font-size:20px;
   color:#02456F;
}

.resumeRegist .head .c{
   height:50px;
   font-size:15px;
}

.resumeRegist #img{
   width:200px;
   height:200px;
   border:solid 4px #02456F;
   border-radius: 50% 50% 50% 50%;
   background-color: #B9B9B9;
   
   display:flex;
   align-items: center;
   justify-content: center;
   font-size: 30pt;
   color:#02456F;

   position: relative;
   right:50px;
   top:25px;
}

/*---------------main-----------------*/

.resumeRegist #pill{
   color: #3574A7;
   font-size:15px;
   font-weight: bold;
   width:400px;
   position:relative;
   top:30px;
   left:530px;
}

.resumeRegist .main{
   width:1000px;
   display:flex;
   justify-content: space-between;
   flex-wrap:wrap;
}

.resumeRegist .subject{
   margin-left:10px;
   padding-left:10px;
   padding-right:40px;
   padding-bottom:20px;
   padding-top:60px;
   color:#02456F;
   font-weight: bold;
   border-bottom: solid 2px #B9B9B9;
}

.resumeRegist .content{
   width:450px;
   padding-left:10px;
}

.resumeRegist .content .state{
   display: flex;
   flex-direction: row;
   border-bottom:solid 1px white;
}
.resumeRegist .content .s_info{
   display:flex;
   flex-direction: row;
   margin-top:15px;
}

.resumeRegist .name{
   padding:15px;
   padding-left:20px;
   font-size:12pt;
   width:120px;
}

.resumeRegist .p_info{
   margin-top:8px;
}

.resumeRegist #pr_name{
   width:200px;
   height:25px;
   margin-left:10px;
}

.resumeRegist .birth_info{
   margin-top:10px;
   margin-left:10px;
}

.resumeRegist .birth_info>:nth-child(n){
   width:90px;
   height: 25px;
   font-size:12pt;
}


.resumeRegist .textshort{
   margin-top:8px;
   padding:10px;
   width:130px;
   height:10px;
}

.resumeRegist .textlong{
margin-top:8px;
	width:280px;
   height:25px;
}


.resumeRegist #p_name, #birth, #phone, #email, #blog, #address, #hopeaddress{
   display:flex;
   flex-direction: row;
   border-bottom:solid 1px white;
}

.resumeRegist #comment{
   display:flex;
   flex-direction: row;
}

.resumeRegist #comment .textlong{
   margin-top:15px;
}
.resumeRegist .detail{
   border-bottom: solid 2px #B9B9B9;
   width:480px;
}

/*--------------information----------------*/

.resumeRegist .information{
   width:500px;
}

.resumeRegist .textmiddle1{
   margin-top:10px;
   margin-left:30px;
   margin-right:10px;
   width:170px;
   height:25px;

}
.resumeRegist .textmiddle2{
   margin-top:10px;
   margin-left:10px;
   margin-right:10px;
   width:170px;
   height:25px;
}
.resumeRegist .acq_ok, .edu_ok, .career_ok{
   margin-left:10px;
   padding-bottom: 10px;
   border-bottom:solid 2px #B9B9B9;
}

/*---------------------skill------------------------*/
.resumeRegist .skill{
   width:1000px;
   height: 300px;
}

.resumeRegist .skill .subject{
   padding-top:30px;
}

.resumeRegist .tech{
   background-color: antiquewhite;
   display:flex;
   flex-direction: row;
   margin:20px;
   padding-left:30px;
}

.resumeRegist .tech #abb{
   width:80px;
   height:80px;
   border-radius: 20% 20% 20% 20%;
   background-color: #3574A7;
   text-align: center;
   border-style: none;
}

.resumeRegist .tech .techinfo{
   background-color: aquamarine;
   padding:10px;
}
/*---------------radio button-------------------*/

.button{
   width: 14px;
   height: 14px;
   background-color: white;
   
   border-radius:50% 50% 50% 50%;
   margin-right:10px;
   margin-left:40px;
   border-width:2px;
   border-color:black;
   border-style: outset;
}
.button:hover{
   background-color: gray;
   border-width:2px;
   border-color:black;
   border-style: inset;
}

/*-------------footer------------*/
.resumeRegist footer{
   background-color: #3574A7;
   height:100px;
   width:1600px;
}



