.findPasswordForm
        {
        margin-bottom:180px;
    	margin-top:180px;
    	font-family: 'Noto Sans KR', sans-serif;
        }
        .findPasswordForm #findPw_sec{
            display:flex;
            
           width : auto;
            height:680px;
        }
        .findPasswordForm #findPw_sec_1
        {
            width : 40%;
        }
        .findPasswordForm #findPw_sec_2
        {
            display : flex;
            height:700px;
            flex-shrink: 0;
            width:auto;
            
        }
        .findPasswordForm #findPw_sec_2_1
        {
        width : 70%;
       
        }
        .findPasswordForm #findPw_sec_2_2
        {
            
            display:flex;
            flex-direction: column;
            flex-shrink: 0;
            flex-basis: 800px;
            width : 800px;
            border:2.5px solid #B9B9B9;
            border-radius:15px;
            position : relative;
            

        }
        .findPasswordForm #findPw_sec_2_3
        {
            
            width:70%;
        }
        .findPasswordForm #findPw_Top
        {
            border-bottom:1px solid #B9B9B9;
            height: 75px;
        }
        .findPasswordForm #findPw_span1
        {
           
            position: relative;
            top: 32px;
            left:15px;
            font-size:1.8rem;
            color:#585858;
        }
        .findPasswordForm #findPw_mid
        {
           
            height:350px;
        }
        .findPasswordForm #findPw_img
        {
            position: relative;
            left : 310px;
            top : 50px;
            width :170px;
            height:170px;
        }
        .findPasswordForm #findPw_p
        {
            position: relative;
            left: 310px;
            top : 70px;
            font-size:1.3rem;
            color:#585858;
        }
        .findPasswordForm #findPw_span2
        {
            position: relative;
            left: 300px;
            color : #3574A7;
            top : 78px;
            font-size:1.3rem;

        }
        .findPasswordForm #findPw_span3
        {
            position: relative;
            left: 300px;
            top : 78px;
            font-size:1.3rem;
            color:#585858;
        }
        .findPasswordForm #findPw_bottom
        {
            display:flex;
            flex-direction: column;
            height: 180px;
            
        }
        .findPasswordForm #findPw_bottom1
        {
            width : auto;

            border-top:1px solid #B9B9B9;
            height:130px;
        }
        .findPasswordForm #findPw_bottom2
        {
            
            border-top:1px solid #B9B9B9;
            height:110px;
        }

        .findPasswordForm #findPw_email
        {
            position: relative;
            left : 90px;
            top : 21px;
            height: 48px;
            width: 610px;
            border: 2px solid #B9B9B9;
            border-radius:15px;
            box-shadow: 0 0 0 30px #fff inset;
            font-size:1.15rem;
        }
        .findPasswordForm #findPw_emailCheckMsg
        {
            position:relative;
            top : 22px;
            left : 100px;
        }
        .findPasswordForm #findPw_span4
        {
            position: relative;
            left : 410px;
            top :10px;
            font-size : 1.1rem;
            color : #585858;
        }
        .findPasswordForm #findPw_span5
        {
             font-size : 1.4rem;
             position:relative;
             left : 410px;
             top:18px;
             color:#585858;

        }
        .findPasswordForm #findPw_findemail
        {
            position: relative;            
            top :10px;
            left : 433px;
            height : 40px;
            width:95px;
            background: white;
            border : 1px solid #585858;
            border-radius:  150px 150px/ 150px 150px;
            color : #585858;
        }
         .findPasswordForm #findPw_findemail:hover
         {
              background:#585858;
              color:white;
         }
        .findPasswordForm #findPw_next
        {
            position: relative;
            top:75px;
            left: 30px;
            width: 190px;
            height :55px;
            background : white;
            border : 1px solid #585858;
            color : black;
            border-radius: 150px 150px/150px 150px;
            font-size:1.2rem;

        }
         .findPasswordForm #findPw_next:hover
         {
         	background:#585858;
         	color:white;
         }
        .findPasswordForm #findPw_sec_3
        {
            
            width : 40%;
        }
		.findPasswordForm *:focus
 		{
        outline:none;
		}

		.findPasswordForm input[type=text]::-ms-clear 
   		{
  		display:none;
		}