 /* 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
/*------------------------main-------------------------*/

.m .container{
    display:flex;
    flex-direction: row;
    margin-top:70px;
}
/*------------------------list------------------------*/
.m .container #list{
    background-color: antiquewhite;
    flex: 1 0 300px;
    height: 800px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.m .container #list .subject{
    font-size:20pt;
    padding-top:50px;
    padding-bottom: 40px;
}

.m #search{
    padding-bottom:20px;
}
.m #search #s_button{
    border-radius: 50% 50% 50% 50%;
    width:30px;
    height:30px;
}
.m #search #s_text{
    width:260px;
    height:40px;
}

.m #list .listAll{
    width:100%;
    overflow:auto;
}
.m #list .mlist .up{
    border-top:solid 2px black;
    display:flex;
    align-items: center;
}
.m #list .mlist .down
{
    display:flex;
}
.m .mlist .m_readcount
{
    position :relative;
	 padding-top:20px;
    padding-left:20px;
}
.m .mlist .up .m_name{
    font-size:15pt;
    padding-left: 10%;
    padding-top:10px;
    color:#02456F;
    font-weight:bold;
    flex: 2 0 150px;
}
.m .mlist .up .o{
    flex: 2 1 0px;
}
.m .mlist .up .m_lastday{
    padding-top:10px;
    padding-left:20px;
    flex: 2 0 100px;
}

.m .mlist .m_info{
    padding:20px;
    flex-basis : 250px;
    padding-left:40px;
}
.m .mlist .m_readcount
{
	 padding-top:10px;
    padding-left:20px;
}

/*------------------------info------------------------*/
.m .container #info{
    background-color: antiquewhite;
    flex: 2 0 400px;
}
.m .container #info #chat{
    background-color:rgba(255, 255, 255, 0.5);
    margin-left:30px;
    margin-right:30px;
    margin-top:80px;
    height:650px;
}

.m .container #info #chat_in{
    margin-left:30px;
    margin-right:30px;
    height:40px;
}

.m .container #info #chat_in #chat_text{
    width:90%;
    height:40px;
}

/*-------------------------nav-----------------------*/
.m .container #nav{
    background-color: antiquewhite;
    display:flex;
    flex-direction: column;
    flex: 1 0 300px;
}

.m .container #nav #myinfo{
    display:flex;
    margin-top:50px;
    padding:10px;
}
.m .container #nav #myinfo #my_img{
    background-color: white;
    margin-left:10px;
    width:150px;
    height:150px;
    text-align: center;
    border-radius: 50% 50% 50% 50%;
}

.m .container #nav #myinfo #my_name{
    flex:1 0 100px;
    font-weight: bold;
    font-size: 20pt;
    margin-left:30px;
    margin-top:60px;
    height:30px;
}

/*-----------------------follow_tab_start------------------------*/
 .m .container #nav #css_tabs{
    
    margin-top:10px;
    margin-left:20px;
}

#css_tabs {
    font-family:'nanumgothic', '나눔고딕', 'malgun gothic', '맑은 고딕', 'dotum', '돋움', sans-serif
}
/* 탭 선택 시 표시할 요소(div) 정의(1번 탭 선택 시 첫 번째 div 요소 표시) */
#css_tabs input:nth-of-type(1), #css_tabs input:nth-of-type(1) ~ div:nth-of-type(1), #css_tabs input:nth-of-type(2), #css_tabs input:nth-of-type(2) ~ div:nth-of-type(2){
    display:none
}
#css_tabs input:nth-of-type(1):checked ~ div:nth-of-type(1), #css_tabs input:nth-of-type(2):checked ~ div:nth-of-type(2){
    display:block
}
/* 라벨 기본 스타일 지정 */
#css_tabs > label {
    display:inline-block;
    font-variant:small-caps;
    font-size:.9em;
    padding:5px;
    text-align:center;
    width:20%;
    line-height:1.8em;
    font-weight:700;
    border-radius:3px 3px 0 0;
    background:#eee;
    color:#777;
    border:1px solid #ccc;
    border-width:1px 1px 0
}
#css_tabs > label:hover {
    cursor:pointer
}
#css_tabs label[for=tab1] {
    margin-left:1.5em
}
/* 선택된 라벨, 커서를 올린 라벨 스타일 지정 */
#css_tabs input:nth-of-type(1):checked ~ label:nth-of-type(1), #css_tabs > label[for=tab1]:hover {
    background:#c0c0c0;
    color:#fff
}
#css_tabs input:nth-of-type(2):checked ~ label:nth-of-type(2), #css_tabs > label[for=tab2]:hover {
    background:#c0c0c0;
    color:#fff
}
/* 실제 내용이 담긴 div 요소 스타일 지정 */
#css_tabs .tab1_content, #css_tabs .tab2_content, #css_tabs .tab3_content {
    padding:2em;
    border:1px solid #ddd;
    width:70%;
    height:445px;
    background-color: rgba(255,255,255,0.5);
}


/*----------------------------follow_tab_end-------------------------*/
#sendchat
{
    text-align :right;
    padding : 30px;
}
.getChatRoom
{
   position : absolute;
   display:block;
   height:80px;
   width :545px;
   margin-top : 25px;
   z-index : 2;
}