
/*------------------------main-------------------------*/

._meet .container{
    display:flex;
    flex-direction: row;
    width : 1920px;
    margin-top:70px;
    margin-bottom : 100px;
}
/*------------------------list------------------------*/
._meet .container #list{
    background-color: #f6f6f6;
    flex: 1 0 300px;
    height: 800px;
    display:flex;
    flex-direction: column;
    align-items: center;

}

._meet .container #list .subject{
    font-size:20pt;
    padding-top:50px;
    padding-bottom: 40px;

}

._meet #search{
    padding-bottom:20px;
}
._meet #search #s_button{
    position : relative;
    left : 10px;
    border-radius: 15px;
    width:50px;
    height:40px;
    border : 2px solid #b9b9b9;
}
._meet #search #s_text{
    padding-left : 10px;
    width:250px;
    height:40px;
    border : 1px solid #b9b9b9;
    border-radius : 15px;
}

._meet #list .listAll{
    width:510px;

}
._meet .mlist
{
    width : 400px;
    margin-left : 50px;
}
._meet .mlist:hover
{
    background-color : #F2F2F2;
}
._meet #list .mlist .up{
    border-top:solid 2px #b9b9b9;
    display:flex;
    align-items: center;
}
._meet #list .mlist .down
{
    display:flex;
}
._meet .mlist .m_readcount
{
     position :relative;
    border : 1px solid #FE2E2E;
    width : 35px;
    height : 30px;
	margin-top:15px;
    text-align :center;
    margin-left : 10px;
    line-height : 30px;
    border-radius : 10pt;
    background-color : #FE2E2E;
    color : white;
    font-weight :bold;
}
._meet .mlist .up .m_name{
    font-size:15pt;
    padding-left: 10%;
    padding-top:10px;
    color:#02456F;
    font-weight:bold;
    flex: 2 0 150px;
}
._meet .mlist .up .o{
    flex: 2 1 0px;
}
._meet .mlist .up .m_lastday{
    padding-top:10px;
    padding-left:20px;
    flex: 2 0 100px;
}

._meet .mlist .m_info{
  	padding-top:20px;
    padding-bottom : 20px;
    flex-basis : 220px;
    padding-left:40px;
    overflow : hidden;
}


/*------------------------info------------------------*/
._meet .container #info{
    background-color: #f6f6f6;
    flex: 2 0 400px;
}
._meet .container #info #chat{
    background-color:rgba(255, 255, 255, 0.5);
    margin-left:30px;
    margin-right:30px;
    margin-top:80px;
    height:650px;
    margin-bottom :10px;
}

._meet .container #info #chat_in{
    margin-left:30px;
    margin-right:30px;
    height:40px;
}

._meet .container #info #chat_in #chat_text{
    width:690px;
    height:40px;
    padding-left : 10px;
    border-radius : 15px;
    border : 2px solid #b9b9b9;
    font-size : 1.1rem;
}

/*-------------------------nav-----------------------*/
._meet .container #nav{
    background-color: #f6f6f6;
    display:flex;
    flex-direction: column;
    flex: 1 0 300px;
}

._meet .container #nav #myinfo{
    display:flex;
    margin-top:50px;
    padding:10px;
}
._meet .container #nav #myinfo #my_img{
    background-color: white;
    margin-left:10px;
    width:150px;
    height:150px;
    text-align: center;
    border-radius: 50% 50% 50% 50%;
}

._meet .container #nav #myinfo #my_name{
    flex:1 0 100px;
    font-weight: bold;
    font-size: 20pt;
    margin-left:30px;
    margin-top:60px;
    height:30px;
}

/*-----------------------follow_tab_start------------------------*/
._meet .container #nav #css_tabs{
    
    margin-top:20px;
    margin-left:20px;
}

._meet #css_tabs {
    font-family:'nanumgothic', '나눔고딕', 'malgun gothic', '맑은 고딕', 'dotum', '돋움', sans-serif
}
/* 탭 선택 시 표시할 요소(div) 정의(1번 탭 선택 시 첫 번째 div 요소 표시) */
._meet #css_tabs input:nth-of-type(1), #css_tabs input:nth-of-type(1) ~ div:nth-of-type(1), #css_tabs input:nth-of-type(2), #css_tabs input:nth-of-type(2) ~ div:nth-of-type(2){
    display:none
}
._meet #css_tabs input:nth-of-type(1):checked ~ div:nth-of-type(1), #css_tabs input:nth-of-type(2):checked ~ div:nth-of-type(2){
    display:block
}
/* 라벨 기본 스타일 지정 */
._meet #css_tabs > label {
    display:inline-block;
    font-variant:small-caps;
    font-size:1.1rem;
    padding:5px;
    text-align:center;
    width:130px;
    line-height:1.8em;
    font-weight:600;
    border-radius:3px 3px 0 0;
    background:#eee;
    color:black;
    border:1px solid #ccc;
    border-width:1px 1px 0
}
._meet #css_tabs > label:hover {
    cursor:pointer
}
._meet #css_tabs label[for=tab1] {
    margin-left:1.5em
}
/* 선택된 라벨, 커서를 올린 라벨 스타일 지정 */
._meet #css_tabs input:nth-of-type(1):checked ~ label:nth-of-type(1), #css_tabs > label[for=tab1]:hover {
    background:#585858;
    color:#fff
}
._meet #css_tabs input:nth-of-type(2):checked ~ label:nth-of-type(2), #css_tabs > label[for=tab2]:hover {
    background:#585858;
    color:#fff
}
/* 실제 내용이 담긴 div 요소 스타일 지정 */
._meet #css_tabs .tab1_content, #css_tabs .tab2_content, #css_tabs .tab3_content {
    padding-top:1em;
    padding-bottom:1em;
    padding-right : 1em;
    border:1px solid #ddd;
    width:70%;
    height:445px;
    background-color: rgba(255,255,255,0.5);
}


/*----------------------------follow_tab_end-------------------------*/
._meet #sendchat
{
    text-align :right;
    padding-left : 10px;
    padding-right : 10px;
    margin-bottom : 3px;
   
}
._meet .sendchat_msg
{
    position :relative;
    display :inline-block;
    border  : 1px solid #B9B9B9;
    padding : 15px;
    font-size : 1.1rem;
    font-weight : 500;
    word-break : break-all;
}

._meet #sendchat_msg_right
{
    color : white;
    background-color : #819FF7;
    border-radius : 20pt 20pt 10% 20pt / 20pt 20pt 10% 20pt
   
}
._meet #sendchat_msg_left
{
    background-color : #f6f6f6;
    border-radius : 20pt 20pt 20pt 10% / 20pt 20pt 20pt 10%
   
}

._meet ._following, ._follower
{
    position : relative;
    left :45px;
    text-decoration :none;
    display :inline-block;
    color : black;
    border-bottom : 2px solid #b9b9b9;
    width : 250px;
    height : 65px;
    line-height : 60px;
}
._meet #chat_send
{
    position :relative;
    left : 5px;
    top : 1px;
    width : 80px;
    height :45px;
    font-size : 1.1rem;
    border-radius : 10pt;
    border : 2px solid #b9b9b9;
}
._meet input
{
    outline :none;
}
._meet .tab1_content
{
    overflow-y : scroll;
    ::-webkit-scrollbar {width: 12px; height: 12px;  }
    ::-webkit-scrollbar-button:start:decrement, 
    ::-webkit-scrollbar-button:end:increment {display: block; width: 12px;height: 12px; background: url() rgba(0,0,0,.05);}
    ::-webkit-scrollbar-track {     background: rgba(0,0,0,.05); }
    ::-webkit-scrollbar-thumb {  background: rgba(0,0,0,.1);  }
}

._meet .tab2_content
{
    overflow-y : scroll;
     ::-webkit-scrollbar {width: 12px; height: 12px;  }
    ::-webkit-scrollbar-button:start:decrement, 
    ::-webkit-scrollbar-button:end:increment {display: block; width: 12px;height: 12px; background: url() rgba(0,0,0,.05);}
    ::-webkit-scrollbar-track {     background: rgba(0,0,0,.05); }
    ::-webkit-scrollbar-thumb {  background: rgba(0,0,0,.1);  }
}
._meet .profile_image, .follow_name
{
    position :relative;
}
._meet .profile_image
{
   display :inline-block;
    top : 5px;
    left : 5px;
    border : 1px solid #585858;
    border-radius : 15px;
    right : 10px;
    width : 50px;
    height : 50px;
}
._meet .follow_name
{
    left : 15px;
    bottom : 15px;
    font-weight : 600;
    font-size : 1.1rem;
}
._meet .sendchat_nick
{
    display :inline-block;
    width : 50px;
    padding : 10px;
}
._meet #chat_info
{
    position :absolute;
    top :  580px;
    left : 580px;
    width : 500px;

    height : 60px;
}

._meet #chat_info > #chat_info_img
{
    position :relative;
    width : 60px;
    height : 60px;
    border : 1px solid black;
    border-radius : 15px;
}
._meet  #chat_info > #chat_info_nick
{
      position :relative;
      bottom : 60px;
      left : 80px;
      width : 400px;
      height : 50px;  
      line-height : 60px;
      font-size : 1.5rem;
      font-weight : bold;
}
._meet #chatroomsetting1
{
    position : relative;
    left : 33px;
    top : 15px;
    width : 90px;
    height : 30px;
}
._meet #chatroomsetting2
{
    position : relative;
    top : 15px;
    left : 80px;
    width : 90px;
    height : 30px;
}

._meet #chatroom_icon
{
    position : relative;
    width :20px;
    top : 3px;
    left : 5px;
    height : 20px;
    background-image : url("set.png");
    background-size : 20px;
}
._meet #chatroom_exit
{
    position: relative;
    display :none;
    bottom : 27px;
    left : 40px;
    width : 50px;
    height : 30px;
    border : 1px solid #b8b8b8;
    background-color : white;
    font-size : 0.8rem;
    text-align : center;
    line-height :30px;
    font-weight :bold;
    border-radius : 10pt 5pt 5pt 10% / 10pt 5pt 5pt 10%;
}
._meet #chatroom_exit:hover
{
   background-color : #819FF7;
   color :white;
}
